/* palitra */
:root {
    --main-color: #FFFFFF;
    --color: #2E2F42;
    --main-color-text: #434455;
    --nav-color: #404BBF;
    --nav-color-secondery: #4D5AE5;
    --section-team-color: #F4F4FD;
    --border-btn: #E7E9FC;
}

/*  */
body {
    color:var(--main-color-text);
    background-color: var(--main-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

ul {
    list-style-type: none;
     margin: 0;
    padding: 0;
}

p,h1,h2,h3,h4 {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}





/*/  Header /*/

header {
    border-bottom: 1px solid var(--border-btn);
}

/* LOGO */
.logo {
    font-family: Raleway, cursive;
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    padding: 24px 0;
    
}
.logo-header {
    color:  var(--color);
}

.logo-web {
    color: var(--nav-color-secondery);
    display: flex;
}

/* Header link */





.container {
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    
    
}
.nav-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;    
}

.item {
    display: flex;
}
.site-nav {
    display: flex;
}

.site-nav .item:not(:last-child) {
    margin-right: 40px;   
}


.site-nav .header-link  {
    padding-top:24px ; 
    padding-bottom:24px;
    color:  var(--color);
    font-weight: 500;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}
.site-nav {
    margin-left: 76px;
}

.current {
    position: relative;
}


.header-link:hover,
.header-link:focus {
    color: var(--nav-color);
}

.header-link.current {
    color: var(--nav-color); 
}


.header-link.current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--nav-color);
    position: absolute;
    bottom: 0;
    border-radius: 2px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* Contacts header */

.contacts-nav {
    display: flex;
}
.address {
    margin-left: auto;

}
.contacts-nav .item + .item {
    margin-left: 40px;
} 
.contacts-list  {
    text-decoration: none;
    font-style: normal;
    color: var(--main-color-text);
    padding-top:24px ; 
    padding-bottom:24px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    
}

.contacts-list:active, 
.contacts-list:hover,
.contacts-list:focus 
{
 color: var(--nav-color); 
    
}

/*/ Modal/*/


.modal{
    padding: 24px ;
    padding-top: 72px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width:408px ;
    min-height:576px ;

    background-color: #FFFFFF;

    overflow: auto;

    
}

.title-form {
    font-weight: 500;
    font-size: 16px ;
    margin-bottom: 16px;
}

.contact-form {
    color: var(--color);
}

.form-field {
     margin-bottom: 8px; 
    display: flex;
    flex-direction: column;
    position: relative; 
}


.form-label {
    text-align: start;
    
    color: #8E8F99;
    font-size: 14px ; 
  
    

    
}

.form-input {
    font-family: Roboto, sans-serif;
    font-size: 14px ;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    width: 360px ;
    height: 40px ; 
    padding-left: 38px;
    margin-top: 4px;
    
}

.form-input:focus-visible {
outline: none;
border: 1px solid #4D5AE5;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
    position: absolute;
     top:60%; 
    left: 0;
    width: 34px;
    height: 25px; 
    padding-left: 19px;
  
  
    
}

.form-field:focus-within >.form-icon { 
    fill: #4D5AE5;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-comment:focus {
outline: none;
border: 1px solid #4D5AE5;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.user-comment {
    font-family: Roboto, sans-serif;
    font-size: 14px ; 
    width:360px ;
    height:120px ; 
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 8px 16px;
    margin-top: 4px;
   
}

.privacy-policy label {
    font-size: 12px;
}

.privacy-policy {
    padding-bottom: 24px;
}

.link-privacy-policy {
    color: var(--nav-color-secondery) ;
}

.form-checkbox-icon{
display: flex;
align-items: center;
justify-content: center;

width: 16px;
height: 16px;

margin-right: 8px;

color: #f4f4fd;
border: 1.25px solid #2e2f42;
border-radius: 2px;
cursor: pointer;

}

 .checkbox-icon {
    width: 16px;
    height: 16px;
 display: flex;
 fill: currentColor;
 
} 

.checkbox {
    position: absolute;
  top: 100%;
  left: 8px;

  appearance: none;
  width: 1px;
  height: 1px;

}

.checkbox:checked +.form-checkbox-icon {
    background-color: var(--nav-color);
    border-color: var(--nav-color) ;

    
}

.checkbox:checked+.form-checkbox-icon .checkbox-icon {
    fill: #404BBF;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }

.form-privacy-policy {
  
    font-size: 12px;

    position: relative;

    display: flex;
    align-items: center;
  
    margin-bottom: 24px;
  
    color: #757575;

    


}





.button-send {
    padding: 16px 32px;
    color: var(--main-color); 
    background-color: var(--nav-color-secondery);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    letter-spacing: 0.04em;
    border-color:  var(--nav-color-secondery);
    cursor: pointer;

   
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.button-send:hover,
.button-send:active,
.button-send:focus  {
    background-color: var(--nav-color);
}



 
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.button-close {
    position: absolute;
    top: 24px;
    right: 24px;
  
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    justify-content: center; 
    align-items: center; 

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus,
.button-close:active {
    background-color:#404BBF;
    fill: #FFFFFF;
}

.close {
width: 8px;
height: 8px;

}


/*/ Hero/*/


.hero {
    background-color: var(--color); 
    padding-top: 188px;
    padding-bottom: 188px;   
    text-align: center;  
    background-image: linear-gradient( to right, rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), 
    url('../images/images-web-studio/people-office.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px; 
    margin-left: auto;
    margin-right: auto;
    
}
 
   

.hero-title {
    margin-bottom: 48;
    margin-left: auto;
    margin-right: auto;
    font-size: 56px;
    line-height: 1.07;
    color:var(--main-color);
    max-width: 494px;
    margin-bottom: 48px;
    
    
}
.btn-hero {
    padding: 16px 32px;
    color: var(--main-color); 
    background-color: var(--nav-color-secondery);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    letter-spacing: 0.04em;
    border-color:  var(--nav-color-secondery);
    cursor: pointer;

   
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.btn-hero:hover,
.btn-hero:active,
.btn-hero:focus  {
    background-color: var(--nav-color);
}

/*/ section-principles  /*/



.container-principles{
    display: flex;

}

.section{
    padding-top: 120px;
    
}
.item-principles {
    width: 264px;
    flex-wrap: wrap;
 
}
.item-principles:not(:last-child) {
    margin-right: 24px;
}

.principles-icon {
    width: 64px;
    height: 64px;
}

.social-networks {
 text-decoration: none;
}

.section-title {
    margin-bottom: 72px; 
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--color);
}
.position-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color);
}

.container-icon {
    width: 264px;
    height: 112px;
    background-color:#F4F4FD;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    border-radius: 4px;
}






/* examples-container */

.examples-container{
    display: flex;
   
}
.examples-section {
padding-bottom: 120px;
}
.examples-item:not(:last-child) {
margin-right: 24px;
}



/*/ section-team /*/
.section-team {
    background: var(--section-team-color);
    padding-top: 120px;
    padding-bottom: 110px;
}
.container-team {
    display: flex;
}
.foto-team {
    background-color: var(--main-color);
    Width: 264px;
    text-align: center; 
    box-shadow:   0px 2px rgba(46, 47, 66, 0.08),  0px 1px rgba(46, 47, 66, 0.16), 0px 1px rgba(46, 47, 66, 0.08);
    border-bottom-left-radius: 4px ;
    border-bottom-right-radius: 4px;
}

.foto-team:not(:last-child) {
    margin-right: 24px;
}
h3.foto-team {
    padding-bottom: 32px;
}

.text-position {
    padding: 32px 0;
}

.team-icon {
    width: 16px;
    height: 16px;
   
}

.social-networks:hover,
.social-networks:focus {
    background-color:#404BBF; 
}

.text-team {
    margin-bottom: 8px;
}

.social-networks {
   background-color:#4D5AE5; 
   width: 100%;
   height: 100%; 
   justify-content: center;
   display: flex;
   align-items: center;
   border-radius: 50px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.social-team:not(:last-child){
    margin-right: 24px;
}

.social-team{
    width: 40px;
    height: 40px;
}

.team-list {
    display: flex;
    justify-content: center;
}


/* Customers */
.section-customers{
    padding-top: 130px;
    padding-bottom: 120px;
}

.container-customers {
    display: flex;

}

.link-customers {
    text-decoration: none;
    width: 168px;
    height: 88px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #8E8F99;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1),  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.customers{ 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.customers:not(:last-child){
    margin-right:24px;

}
.customers-icon {
    fill: currentColor;
    

}


.link-customers:hover,
.link-customers:focus {
    border: 1px solid#404BBF;
    color: #404BBF;
    
}





/* Portfolio  filters*/

.btn-item:not(:last-child) {
    margin-right: 24px;
}



.portfolio-list {
    padding-top: 96px;
    padding-bottom: 120px;
}

.container-filters {
    display: flex;
    margin-bottom: 72px;
    justify-content:center;
  
}


.btn-filters:hover, 
.btn-filters:focus {
    background-color: var(--nav-color);
    cursor: pointer;
    color: var(--main-color);
    border-color:   var(--nav-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.btn-filters {
    color: var(--nav-color-secondery);
    background: var(--section-team-color);
    border: 1px solid var(--border-btn);
    border-radius: 4px;
    padding: 12px 24px;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
}

/* foto-portfolio  */

.product-thumb {
    position: relative;
    overflow: hidden; 
}


.product-actions  {
    display: inline-block;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color:#4D5AE5;
    transform: translateY(+100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.product-actions {
    position: absolute;
     top:0;
     left:0;
}
.foto-portfolio:hover .product-actions,
.foto-portfolio:focus .product-actions  {
    transform: translateY(0);
}

.text-product-actions {
    display: block;
    color: #F4F4FD;
    padding: 40px 32px;
    
}

.foto-portfolio:hover,
.foto-portfolio:focus{
    box-shadow:  
    0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
     0px 1px 6px rgba(46, 47, 66, 0.08)
} 

.border-portfolio {
    text-decoration: none;
    border-bottom: 1px solid var(--border-btn);
    border-right: 1px solid var(--border-btn);
    border-left: 1px solid var(--border-btn);
}

.container-portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.foto-item {
    width: 360px;
    margin-right: 24px;
    margin-bottom: 48px;
}
.foto-item:nth-child( 3n) {
    margin-right:0px;

}
.foto-item:nth-last-child(-n+3) {
    margin-bottom: 0;

}

.foto-portfolio {
    text-decoration: none;
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 

   
}

.text-portfolio {
    padding: 32px 0;
    padding-left: 16px;

}


/* footer */

.form-field-footer {

    display: flex;
    flex-direction: column; 
    margin-left: 80px;

}

.contact-form-footer {

}


.user-comment-footer {
outline: none; 
 border-radius: 4px;
border: 1px solid #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
background-color: #2E2F42;
color: #FFFFFF;
width: 264px;
height: 40px;
padding: 8px 16px;
resize: none;
margin-right: 24px;
}

.form-footer {
    display: flex;
}

.user-comment-footer::placeholder {
    color: #FFFFFF;
}

.form-label-footer {
    color: #FFFFFF;
    margin-bottom: 16px;
}



.button-footer {
   
    position: relative;
    color: var(--main-color); 
    background-color: var(--nav-color-secondery);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    letter-spacing: 0.04em;
    border-color:  var(--nav-color-secondery);
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 64px;

}

.foorm-footer-icon {
    position: absolute;  
    width:24px ;
    height:20px ;
    padding-left: 10px;
    display: inline-block;
    
  
}

.container-width {
    max-width: 264px;
    
    margin-right: auto;
}

.footer-section {
    background: var(--color);
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
}
.logo-footer {
    color: var(--main-color);
    padding: 0;
    
}
.footer-text {
    color: var(--main-color);
    margin: 0;
    margin-top: 16px;
    display: flex;
    
}
.footer-container {
    display:flex;
   
}
.footer-link {
    display: flex;
    
}
.container-social-networks {
    display: block;
    margin-left: 120px;
   
}
.title-footer h3 {
    color: var(--main-color);
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    
}
.footer-icon {
    width: 24px;
    height: 24px;

}

.footer-link-icon:hover,
.footer-link-icon:focus {
    background-color:#31D0AA;
}

.footer-link-icon {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);  
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 50px;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.social-networks-footer{
    width: 40px;
    height: 40px;
    display: flex;
}
.social-networks-footer:not(:last-child){
    margin-right: 24px;

}